*,
*::after *::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.html {
    scroll-behavior: smooth;
}
.body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}
.container {
    max-width: 1440px;
    padding: 0 40px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basket {
    padding-right: 5%;
    border-radius: 5px;
    font-size: 50px;
    color: #131313;
}
.main_info {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    padding-left: 4%;
}
.categories {
    display: flex;
    flex-direction: column;
    line-height: 500%;
    text-transform: uppercase;
    font-size: large;
}
.items {
    text-align: center;
    align-items: center;
    border: 1px solid #131313;
    padding: 5px;
    width: 180px;
    height: 200px;
}
.items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.counter__inner {
    font-size: 50px;
    color: #f1f1f1;
}
.null span {
    color: #131313;
    padding: 0 8px;
    font-size: 20px;
}
.counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    color: red;
}
.cat {
    font-size: 50px;
}
.card-container {
    position: relative;
}
.items > img {
    width: 50px;
}
.counterInput {
    border: #131313;
}
